<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> navbar}}
    <div id="content">
        <h1>Fly Fishing in Colorado</h1>
        <p>Explore the best fly fishing spots in Colorado, from the Rocky Mountains to pristine rivers.</p>
    </div>
    {{> footer}}
</body>
</html>
