@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero Section */
.hero-section {
    background-color: white;
    color: #333;
  }
  
  /* About Section */
  .about-section {
    background-color: white;
    color: #333;
  }
  
  /* Featured States Section */
  .featured-states .state-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .featured-states .state-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  /* Call to Action Section */
  .cta-section {
    background-color: white;
    color: #333;
  }
  
  .cta-section .btn {
    margin-top: 20px;
  }
  
  /* Footer */
  footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  

  html, body {
    height: 100%; /* Ensures the body takes up full height */
    margin: 0;
  }
  
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Makes the container take up the entire viewport height */
  }
  
  footer {
    margin-top: auto; /* Pushes the footer to the bottom */
  }
  

  .bg-water-pattern {
    background-color: red; /* just for testing */
  }
  