<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> navbar}}
    <div id="content">
        <h1>Blog</h1>
        <p>Read about the latest fly fishing adventures, tips, and guides.</p>
    </div>
    {{> footer}}
</body>
</html>
